@media screen and (max-width: 1500px) {
  .news .left {
    left: 3rem;
  }
  .news .right {
    right: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .navbar .navbar-items {
    transform: scale(0);
  }

  .navbar .toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 3rem;
    background-color: transparent;
    color: var(--main-color);
    border: none;
    cursor: pointer;
  }

  .hero-content h1 {
    font-size: 4vw;
  }
  .hero-content p {
    font-size: 2vw;
  }

  .services h3 {
    font-size: 5vw;
  }
  .services p {
    font-size: 3vw;
  }

  .how-works .grid-container {
    grid-template-columns: 1fr;
  }
  .how-works .grid-item {
    margin: 1rem 0;
  }

  .properties .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .agents h2,
  .news h2,
  .about h2 {
    font-size: 6vw !important;
  }

  .agents .agents-para {
    font-size: 2.5vw;
    width: 70%;
  }
  .agents .grid-container,
  .about .grid-container,
  .services .grid-container {
    grid-template-columns: 1fr;
  }
  .services .grid-container .grid-item {
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .news .left {
    left: 1rem;
  }

  .news .right {
    right: 1rem;
  }
  .news blockquote p {
    font-size: 2.8vw;
    padding: 0.3rem;
  }
  #contact .flex {
    flex-wrap: wrap;
  }

  #form-container {
    width: 100%;
    padding: 2rem;
  }

  #address-container {
    width: 100%;
    margin-top: 2rem;
  }

  footer {
    padding: 6rem 0;
  }

  footer .flex {
    flex-wrap: wrap;
  }

  footer .flex > div {
    width: 100%;
    margin-top: 1rem;
  }

  footer .flex > div:first-child {
    margin-top: 0;
  }

  footer .footer-about p {
    font-size: 1rem;
    width: 100%;
  }

  footer .footer-subscribe input {
    width: 90%;
  }

  footer h5.follow-us {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .news .left,
  .news .right {
    top: 6rem;
  }
  #contact {
    padding: 4rem 0;
  }

  #contact h2 {
    margin-bottom: 2rem;
  }

  #form-container {
    padding: 1.5rem;
  }

  footer {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 500px) {
  .properties .grid-container {
    grid-template-columns: 1fr;
  }
  small {
    width: 90%;
    margin: 0 auto;
  }
}
